.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    background-color: #034f84; }
    
ul {
    list-style-type: square;
    
}

a{
  font-weight: bold;
  color:#034f84;
  text-decoration: underline;
  
}

p,h1,h2,h3 {
  color:#3b3a30;
}

h1 {
  color: #034f84;
}